    {{#isQueryParam}}
    api.{{paramName}} = c.Query("{{baseName}}")
    {{/isQueryParam}}
    {{^isQueryParam}}
    api.{{paramName}} = c.Param("{{baseName}}")
    {{/isQueryParam}}
    {{#defaultValue}}
    if api.{{paramName}} == "" {
        // use provided default value
        api.{{paramName}} = "{{defaultValue}}"
    }
    {{/defaultValue}}
    {{#required}}
    if api.{{paramName}} == "" {
		c.JSON(http.StatusBadRequest, gin.H{
			"code": 400,
			"message": "{{paramName}} is required",
		})
        return
    }
    {{/required}}
    {{#minLength}}
    if len(api.{{paramName}}) < {{minLength}} {
		c.JSON(http.StatusBadRequest, gin.H{
			"code": 400,
			"message": "{{paramName}} should have minimum length of {{minLength}}",
		})
        return
    }
    {{/minLength}}
    {{#maxLength}}
    if len(api.{{paramName}}) > {{maxLength}} {
		c.JSON(http.StatusBadRequest, gin.H{
			"code": 400,
			"message": "{{paramName}} should have maximum length of {{minLength}}",
		})
        return
    }
    {{/maxLength}}
