package utils

import (
	"context"
	"time"

	"gitlab.infinacle.com/infini/go-config/v2"
	"gitlab.infinacle.com/infini/go-mgdb/v2"
	"go.mongodb.org/mongo-driver/mongo/readpref"
)

// Client mongodb client shared across the model
var Client *mgdb.Client

// MongoInit mongo connection
func MongoInit() (err error) {

	if err = config.Init(); err != nil {
		return
	}

	opts := &mgdb.Options{
		URI:            config.Cfg.GetString("mongo.uri"),
		Database:       config.Cfg.GetString("mongo.database"),
		DefaultTimeout: 20 * time.Second,
	}

	Client, err = mgdb.Connect(opts)
	if err != nil {
		return
	}

	err = Client.Client.Ping(context.Background(), readpref.Primary())
	return
}
